.toggle {

    position: fixed;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px;
    margin: 10px 20px 10px 20px;
    border: 3px solid;
    border-radius: 30px;
    background-color: rgba(117, 190, 218, 0);
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;

    &:hover {
        transform: rotate(90deg);
        background-color: rgba($color: whitesmoke, $alpha: 0.9);
        color: rgba(229, 175, 108);
        transition: transform 0.5s, background-color 0.5s;
    }
}