.profil__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top,rgb(178 31 31) 0%, rgba(178, 31, 31,1) 0%, rgba(253, 187, 45, .5));

    &-data{
        display: flex;
        flex-direction: column; 
        height: 80%;
        width: 60%;
        padding: 30px;
        text-align: start;
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
    }

    &-avatars{
        display: flex;
        flex-direction: column;
        height: 60%;
        padding: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        font-size: 0.5em;
        justify-content: space-around;

    }

    &-pictures{
        border-radius: 50%;
        border: 2px solid whitesmoke;
        height: 200px;
        width: 200px;
        object-fit: cover;
        box-shadow: 0 0 7px -1px;
    }
}

.mainProfil__container{
    display: flex;
    align-items: center;
    min-height: 700px;
    width: 80%;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
}

.profil__container-data p{
    margin: 10px;
}

.profil__textContent{
    border: 1px solid whitesmoke;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    box-shadow: 0 0 7px -1px;
    margin: 0 auto;

    &-text{
        font-size: 0.8em;
        background: rgba( 255, 255, 255, 0.0 );
        border: none;
        resize: none;
    }
}

.input__container{
    text-align: end;
}

.profil-genre, .profil-telNumber{
    text-align: center;
    margin-top: 20px;
}


@media screen and (max-width: 970px){
    .profil__container{
        height: auto;
    }

    .mainProfil__container{
        height: auto;
    }

    .mainProfil__container{
        flex-direction: column;
        margin: 60px 0 40px 0;
        height: auto;
    }


    .profil__container-data{
        text-align: center;
        width: 100%;
    }

    .input__container{
        margin: 0 auto;
    }
}