.searchEvent__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    width: 100%;
    background: linear-gradient(to top,rgb(178 31 31) 0%, rgb(161, 25, 109) 0%, rgba(253, 187, 45, .5));

        &-form{
            display: flex;
            flex-direction: column;
            width: 20%;
            height: 100%;
            box-shadow: 5px -5px 18px black;
            z-index: 12;
        }

        &-leaflet{
            width: 80%;
            background-color: blue;
            height: 100%;
        }

        &-searchForm{
            height: 60%;
        }

        &-select{
            background: transparent;
            border: none;
            color: whitesmoke;
            margin-bottom: 10px;
        }

        &-resultsForm{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 40%;
            overflow-y: scroll;
            scrollbar-color: rebeccapurple green;
        
        

                &__searchEvent {
                    display: flex;
                    justify-content: space-between;
                    font-family: "Caviar";
                    font-size: 0.6em;
                    width: 92%;
                    height: 100px;
                    background: linear-gradient(to top,rgba(247, 11, 3, 0.37), rgba(247, 80, 3, 0.37),rgba(247, 113, 3, 0.37));
                    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                    backdrop-filter: blur( 7.5px );
                    -webkit-backdrop-filter: blur( 7.5px );
                    border-radius: 10px;
                    border: 1px solid rgba( 255, 255, 255, 0.18 );
                    color: whitesmoke;
                    padding: 10px;
                    margin-bottom: 0.8rem;

            
                
                    &-infos{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        width: 60%;
                        padding: 13px;
                        
                    }
                
                    &-pictures{
                        display: flex;
                        width: 40%;
                    }
                
                    &-title{
                        font-size: 1.1em;
                        margin-bottom: 0.5rem;
                    }
                }
        }
        
        &-infosDetails-location{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid whitesmoke;
            width: 70%;
            margin: 0 auto;

            &__tag-selected{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
    }

    #searchForm{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        margin-top: 30px;
        height: 70%;
        font-family: "Caviar";
    }

    .mySearchInputs{
        padding-left: 10px;
        border: none;
        background: transparent;
        color: whitesmoke;
        width: 80%;
        outline: none;
        margin-bottom: 10px;
        font-family: "Caviar";
    }
}

.input__container{
    margin-bottom: 10px;
}

.searchEvent{
    display: flex;
    justify-content: space-between;
    width: 92%;
    height: 100px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0 7px 2px;

    &-infos{
        display: flex;
        font-family: "Caviar";
        flex-direction: column;
        width: 60%;
        padding: 13px;
    }

    &-pictures{
        display: flex;
        width: 40%;
    }

    &-title{
        font-size: 1.1em;
    }
}

.search__container-avatar{
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 0.5em;
    justify-content: space-around;
}

.search__container-pictures{
    border-radius: 25%;
    border: 2px solid whitesmoke;
    height: 80px;
    width: 80px;
    object-fit: cover;
    box-shadow: 0 0 7px 1px;
}

.leaflet-container{
    width: 80%;
    height: 100vh;
    z-index: 0;
  }

.searchEvent__container-resultsForm::-webkit-scrollbar{
    width: 5px;
} 

.toggle--search {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px;
    margin: 10px 20px 10px 20px;
    border: 3px solid;
    border-radius: 30px;
    background-color: rgba(117, 190, 218, 0);
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;

    &:hover {
        transform: rotate(90deg);
        background-color: rgba($color: whitesmoke, $alpha: 0.9);
        color: rgba(229, 175, 108);
        transition: transform 0.5s, background-color 0.5s;
        box-shadow: 0 0 7px -1px;
    }
}

.leaflet-popup-content-wrapper {
    display: flex;
    font-family: 'Caviar';
    font-weight: 700;
    background: linear-gradient(to top,rgba(247, 11, 3, 0.37), rgba(247, 80, 3, 0.37),rgba(247, 113, 3, 0.37));
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: whitesmoke;
    padding: 0;
    margin: 0;

    &__searchEvent {
        display: flex;
        justify-content: space-between;
        width: 92%;
        height: 100px;

    
        &-infos{
            display: flex;
            justify-content: space-between;
            font-family: "Caviar";
            flex-direction: column;
            width: 60%;
            padding: 13px;

        }
    
        &-pictures{
            display: flex;
            width: 40%;
        }
    
        &-title{
            font-size: 1.1em;
        }
    }
}
.searchEvent-button-menu {
    position: fixed;
    z-index: 99;
    right: 4px;
    top: 4px;
}



@media screen and (max-width: 1070px){

    .searchEvent__container{
        height: 130vh;
    }

    .searchEvent__container-leaflet{
        display: none;
    }

    .searchEvent__container-form{
        width: 80%;
    }

    .leaflet-container{
        display: none;
    }

    .searchEvent__container-form{
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        border-radius: 10px;
        height: 85%;
    }

    .searchEvent-pictures{
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        width: 40%;
    }

    .searchEvent-infos{
        font-size: 0.9em;
    }

    .registerForm{
        width: 85%;
    }

    .searchEvent__container-resultsForm__searchEvent{
        margin-top: 20px;
    }
}
