.second__container{
    display: flex;
    justify-content: center;
    height: 1200px;
    position: relative;
    background-color: red;
    background: -webkit-linear-gradient(to top,#1a2a6c, #b21f1f);  
    background: linear-gradient(to top,#1a2a6c, #b21f1f);
    font-family: arial;
    color: whitesmoke;
}

.steps{
    display: flex;
    align-items: center;
    margin: 60px;
    font-size: 0.8em;
    line-height: 23px;

    &-text1{
        text-align: end;
        width: 77%;
        padding-right: 40px;
        font-family: "Caviar";
    }

    &-text2{
        text-align: start;
        width: 90%;
        padding-left: 40px;
        font-family: "Caviar";
    }

    &-title{
        color: white;
        font-weight: bold;
        font-size: 1.5em;
    }

    &-asking{
        display: flex;
        flex-direction: column;
    }

    &__container{
        width: 700px;
        margin: 0 auto;
    }

    &__explication-title, 
    &__explication-text{
        text-align: center;
        margin-bottom: 70px;
        font-family: "Caviar";
    }

    &__explication-title{
        color: #e66630;
    }
}

.steps--logo{
    height: 8em;
    margin: 20px;
}

#steps-three{
    margin-bottom: 35px;
}


@media screen and (max-width: 700px){
    .steps{
      font-size: 0.6em;
      display: flex;
      flex-direction: column;
    }

    #reverse-text{
        flex-direction: column-reverse;
    }

    .steps__explication-text,
    .steps__explication-title{
      width: 75%;
      margin: 0 auto;
      margin-top: 30px;
      width: 64%;
      font-size: 0.8em;
    }

    .steps-text1, 
    .steps-text2{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}
