.eventcard {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 450px;
    width: 650px;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    // background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    &__infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        font-family: "Caviar";

        &__profil {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px;
            margin-top: auto;

            &__identity {
                text-align: left;
            }
        }

        &__event {
            text-align: left;
            margin-left: 20px;
            // margin-top: 50px;

            p, h3 {
                margin-bottom: 10px;
            }

            h3 {
                text-align: center;
                margin-bottom: 10px;
            }

            &--cityevent, &--cityevent, &--eventdate, &--numberspotsleft, &--eventlanguage {
                display: flex;
                align-self: baseline;
                margin-bottom: 10px;
            }

            &--eventdate {
                border-bottom: 1px solid whitesmoke; 
                width: 200px;
                padding-bottom: 10px;
            }

            &--numberspotsleft, &--eventlanguage {
                font-weight: 600;
                margin-top: 10px;
            }
        }
    }

    &__image {
        object-fit: cover;
        border-radius: 20px ;
        box-shadow: 0 0 10px 3px #0095b7;
        width: 250px;
    }
}

.avatar-image {
    border-radius: 50%;
    border: 2px solid whitesmoke;
    height: 100px;
    width: 100px;
    object-fit: cover;
    box-shadow: 0 0 7px -1px;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}