.eventcard {
    display: flex;
    align-items: center;
    height: 450px;
    width: 650px;
    padding: 20px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    &__infos {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 300px;

        &__profil {
            display: flex;
            margin-bottom: 50px;
        }
    }

    &__image {
        object-fit: cover;
        border-radius: 10px;
    }
}

.eventcard__image {
    width: 300px;
}