
.styles {
    overflow: hidden;
    height: 670px;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.mentions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke inherit;
    position: relative;
    top: 90px;
    margin: 0 auto;

    
    &__legales, &__contact {
        color: whitesmoke;
        text-decoration: none;
        margin-right: 20px;
        transition: all 0.5s ease-in;

        &:hover{
            color: rgb(190, 187, 187);
        }
    }
}

@media screen and (max-width: 700px){
    .styles{
        display: none
    }
  }