.createEvent__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background: linear-gradient(to top,rgb(178 31 31) 0%, rgba(178, 31, 31,1) 0%, rgba(253, 187, 45, .5));

    &-infosDetails{
        display: flex;
        justify-content: center;
        width: 30%;
        margin-left: 55px;

        &-location{
            display: flex;
            justify-content: space-between;
            background: transparent;
            border: none;
            border-bottom: 1px solid white;
            margin-bottom: 30px;
            padding-bottom: 10px;
        }

        &-calendar{
            display: flex;
            margin: 30px;
            margin: 0 auto;
            min-width: 250px;
            padding-bottom: 25px;
            outline: none;

            &-label{
                width: 140px;
                text-align: start;
            }
        }
    }

    &-eventTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;

        &-title{
            text-align: start;
            margin: 20px;
            font-family: 'Caviar';
        }

        &-img{
            margin: 0 auto;
        }

        &-button{
            text-align: end;
            margin-right: 30px;
            position: relative;
            top: 50px;
        }
    }
}

.createEvent-img{
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
}

.mainCreateEvent__container{
    display: flex;
    align-items: center;
    height: 700px;
    width: 80%;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
}

.myButton{
    width: 145px;
    height: 41px;
    border: 1px solid whitesmoke;
    background-color: transparent;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: 0 0 7px -1px;
}

.myInputs{
    border: none;
    background: transparent;
    color: whitesmoke;
}

select option{
        margin: 40px;
        background: #c54c24;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#registerForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Caviar';
}


@media screen and (max-width: 1370px){
    .mainCreateEvent__container{
        height: auto;
        flex-direction: column;
        margin: 60px 0 90px 0;
        text-align: center;
    }

    .createEvent__container{
        height: auto;
    }

    .createEvent__container-infosDetails{
        margin-left: 0px;
    }

    .createEvent__container-eventTitle{
        width: 100%;

        &-title{
            text-align: center;
        }

        &-button{
            text-align: center;
            margin: 0;
        }

    }

    #div-location{
        margin-top: 50px;
    }
}