@font-face {
  font-family: "Surfing2";
  src: url("../../../assets/Fonts/Surfing2.woff");
}

.main__container {
  text-align: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 90%,
    left bottom,
    from(rgb(60, 151, 83)),
    to(rgba(240, 17, 17, 0.651))
  );

  &-image{
    width: 370px;
  }

  &-image1{

    width: 500px;

    &-title{
      width: 100%;
    }
  }

  &-image2{
    width: 80vw;
  }

  &-image3{
    display: none;
  }
}

.main__container-text {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 160px;
  opacity: 0.9;
}

.main__container-overlay {
  width: 100%;
  height: 100%;
  background: #1a2a6c;
  background: linear-gradient(
    to top,
    rgb(178 31 31) 0%,
    rgba(178, 31, 31, 1) 0%,
    rgba(253, 187, 45, 0.5)
  );
  opacity: 1;
  position: absolute;
}

.main__container--title {
  color: whitesmoke;
  // font-family: "Surfing2";
  font-size: 11em;
}

.main__container--secondTitle {
  color: whitesmoke;
  // font-family: "Surfing2";
}

@media screen and (max-width: 1000px){
  .main__container-image2{
    display: none;
  }

  .main__container-image3{
    display: block;
    width: 80vw;
    margin: 0 auto;
  }

  .main__container-image1{
    width: 65vw;
  }
}

@media screen and (max-width: 700px) {
  .main__container--title {
    font-size: 5em;
    margin-top: 25px;
  }

  .main__container--secondTitle {
    font-size: 0.8em;
  }

  .eventcard {
    display: none;
  }

  .steps--logo {
    margin: 0;
  }

  .header__navbar {
    flex-direction: column;
  }

  .main__container-text {
    top: 70px;
  }
}
